<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%- include('./partials/navbar') %>
    <main>
        <h1>Edit</h1>
        <form action="<%= locals.action %>" method="post">
            <%- include('./partials/errors') %>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= locals.object.name ? locals.object.name : locals.object.originalName %>"/>
                <input type="hidden" name="id" value="<%= locals.object.id %>">
            </div>
            <button>Submit</button>
        </form>
    </main>
</body>
</html>