<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <%- include('./partials/navbar') %>
    <main>
        <% if(locals.currentUser) {%>
            <h1>Welcome <em><%= currentUser.first_name %> <%= currentUser.last_name %> (<%=currentUser.username%>)</em> !</h1>
        <% } %>
        <section>
            <% if(locals.folder) { %>
                <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
                <% locals.folder.subfolders.map((subfolder) => { %>
                    <a href="/folders/<%= subfolder.id %>"><%= subfolder.name %></a>
                <% }) %>
                <% locals.folder.files.map((file) => { %>
                    <a href="/folders/<%= subfolder.id %>"><%= file.name %></a>
                <% }) %>
            <% } %>
        </section>
        <form action="/folders/create/<%= locals.folder.id %>" method="post">
            <div>
                <label for="name">Folder name:</label>
                <input type="text" id="name" name="folder_name"/>
            </div>
            <button>Submit</button>
        </form>
    </main>
</body>
</html>