<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <main>
        <div>
            <% if(locals.chain) { %>
                <% locals.chain.forEach((folder) => 
                { if (folder.id === locals.folder.id) { %>
                    <a class="current-folder" href="/folders/<%= folder.id %>"><%= folder.name %> </a>
                <% } else {%>
                    <a href="/folders/<%= folder.id %>"><%= folder.name %> > </a>
                <% }}) %>
            <% } %>
        </div>
        <section>
            <% if(locals.folder) { %>
                <div>
                    <p>Folder / File</p>
                    <p>Edit</p>
                    <p>Delete</p>
                    <p>Upload Date</p>
                    <p>Size</p>
                </div>
                <% locals.folder.subfolders.map((subfolder) => { %>
                    <div>
                        <a href="/folders/<%= subfolder.id %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>folder</title><path d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" /></svg><p><%= subfolder.name %></p></a>
                        <a href="/folders/edit/<%= subfolder.id %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Edit</title><path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" /></svg></a>
                        <form action="/folders/delete" method="post">
                            <input type="hidden" name="folder_id" value="<%= subfolder.id %>">
                            <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>delete</title><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg></button>
                        </form>
                        <p><%= subfolder.creationDate %></p>
                    </div>
                <% }) %>
                <% locals.folder.files.map((file) => { %>
                    <div>
                        <a download="" href="<%= file.url %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>file</title><path d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" /></svg><p><%= file.originalName %></p></a>
                        <a href="/files/edit/<%= file.id %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Edit</title><path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" /></svg></a>
                        <form action="/files/delete" method="post">
                            <input type="hidden" name="file_id" value="<%= file.id %>">
                            <input type="hidden" name="file_name" value="<%= file.fileName%>">
                            <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>delete</title><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg></button>
                        </form>
                        <p><%= file.uploadDate %></p>
                        <p><%= file.size %></p>
                    </div>
                <% }) %>
            <% } %>
        </section>
        <form action="/folders/create" method="post">
            <div>
                <label for="name">Folder name:</label>
                <input type="text" id="name" name="folder_name"/>
                <input type="hidden" name="folder_id" value="<%= locals.folder.id %>">
            </div>
            <button>Submit</button>
        </form>
        <form action="/files/upload" method="post" enctype="multipart/form-data">
            <%- include('partials/errors') %>
            <div>
                <label for="file">Upload files:</label>
                <input type="file" id="file" name="files" multiple />
                <input type="hidden" name="folder_id" value="<%= locals.folder.id %>">
            </div>
            <button>Submit</button>
        </form>
    </main>
</body>
</html>