<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>File Uploader | <%= title %></title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/shared.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <main>
        <section class="middle">
            <div class="chain">
                <% if(locals.chain) { %>
                    <% locals.chain.forEach((folder) => 
                    { if (folder.id === locals.folder.id) { %>
                        <a class="current-folder" href="/share/<%= locals.token %>"><%= folder.name %> </a>
                    <% } else {%>
                        <a href="/share/<%= locals.token %>/folders/<%= folder.id %>"><%= folder.name %></a>
                        <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>chevron-right</title><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg></p>
                    <% }}) %>
                <% } %>
            </div>
            <div class="folders">
                <% if(locals.folder) { %>
                    <div class="info">
                        <p>Folder / File</p>
                        <p>Size</p>
                        <p>Upload Date</p>
                    </div>
                    <% locals.folder.subfolders.map((subfolder) => { %>
                        <div class="folder">
                            <a href="/share/<%= locals.token %>/folders/<%= subfolder.id %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>folder</title><path d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" /></svg><p><%= subfolder.name %></p></a>
                            <p>—</p>
                            <p class="date"><%= subfolder.creationDate %></p>
                        </div>
                    <% }) %>
                    <% locals.folder.files.map((file) => { %>
                        <div class="file">
                            <a download="" href="<%= file.url %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>file</title><path d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" /></svg><p><%= file.originalName %></p></a>
                            <p class="size"><%= file.size %></p>
                            <p class="date"><%= file.uploadDate %></p>
                        </div>
                    <% }) %>
                <% } %>
                <% if(locals.folder?.files.length === 0 && locals.folder?.subfolders.length === 0) { %>
                    <p class="empty-table">This folder is empty</p>
                <% } %>
            </div>
        </section>
    </main>
</body>
</html>