<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/navbar') %>
    <section class="chain">
        <% if(locals.chain) { %>
            <% locals.chain.forEach((folder) => 
            { if (folder.id === locals.folder.id) { %>
                <a class="current-folder" href="/share/<%= locals.token %>"><%= folder.name %> </a>
            <% } else {%>
                <a href="/share/<%= locals.token %>/folders/<%= folder.id %>"><%= folder.name %> > </a>
            <% }}) %>
        <% } %>
    </section>
    <main>
        <div class="middle">
            <section class="folders">
                <% if(locals.folder) { %>
                    <div class="info">
                        <p>Folder / File</p>
                        <p>Upload Date</p>
                        <p>Size</p>
                    </div>
                    <% locals.folder.subfolders.map((subfolder) => { %>
                        <div class="folder">
                            <a href="/share/<%= locals.token %>/folders/<%= subfolder.id %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>folder</title><path d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" /></svg><p><%= subfolder.name %></p></a>
                            <p class="date"><%= subfolder.creationDate %></p>
                        </div>
                    <% }) %>
                    <% locals.folder.files.map((file) => { %>
                        <div class="file">
                            <a download="" href="<%= file.url %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>file</title><path d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" /></svg><p><%= file.originalName %></p></a>
                            <p class="date"><%= file.uploadDate %></p>
                            <p class="size"><%= file.size %></p>
                        </div>
                    <% }) %>
                <% } %>
            </section>
        </div>
    </main>
</body>
</html>